html{
	height:250px;
	width:800px;
}

#pastedList {
	height: 200px;
}

#additionalComments {
	height: 150px;
}

#workNotes {
	height: 150px;
}

#notes {
	display: none;
}

#copyAdditionalComments {
	float: right;
}

#copyWorkNotes {
	float: right;
}
